
.container {
	width: 960px;
	margin: 0 auto;

}

header {

	background-color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;

}
h1.name {
	float: left;
	background-color: #4aaaa5;
	width: 25%;
	padding: 60px 0px 0px 60px;
	margin: 20px 0px 0px 20px;

}

nav ul li {
	float: left;

}







