.container {
	width: 960px;
	margin: 0 auto;

}

header {

	background-color: white;
	overflow: auto;

}

h1 {
	font:font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;
}

h1.name {
	background-color: #4aaaa5;
	color: white;
	float: left;


}


nav {
	float: right;
}
hr {
	color: #dddddd;
}

.aboutme {
	width: 650px;
	float: left;
}

.connect {
	width: 270px;
	float: left;
	overflow: auto;
}

.connectwithme {
	overflow: auto;
}

footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: inline-block;

}